/* fonts  */
/* noto serif  */
.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* inter  */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --gray1: #8987A1;
    --orage1: #E95A08;
}
/* animation section  */
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* share style  */
.section-discription {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}

.primary-btn {
    background-color: var(--orage1);
    color: white;
    padding: 1.2rem 5rem;
    border: none;
    margin-top: 1.8rem;
    font-size: 1rem;
    font-weight: 600;
}

.section-title {
    font-size: 3.1rem;
    font-weight: 700;
}

/* header section style start  */
header {
    max-width: 1140px;
    margin: 1.8rem auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.links {
    display: flex;
    gap: 3rem;
}

.first-link {
    display: flex;
    gap: 3rem;
}

.link {
    list-style: none;
}

.link a,
.first-link a {
    text-decoration: none;
    color: var(--gray1);
}

.links>.link:first-child a {
    color: #252432;
    font-weight: 700;
}

.links>.link:last-child a {
    color: #000000;
    font-weight: 700;
}

/* banner section start  */
.banner {
    display: flex;
    align-items: flex-end;
    margin-top: 7.5rem;
}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-left h1 {
    color: var(--orage1);
    font-size: 4rem;
    font-weight: 700;
}

.banner-left h1 span {
    color: #000000;
}

/* main section styles start  */
.main {
    max-width: 1140px;
    margin: auto;
    margin-top: 7.5rem;
}

.plants-content {
    max-width: 888px;
    text-align: center;
    margin: auto;
    margin-top: 7.5rem;
}

.plants-content h2 span {
    color: var(--orage1);
}

.cards-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.25rem;
    row-gap: 1.75rem;
}

.card {
    max-width: 277px;
    text-align: center;
}

.card img {
    width: 100%;
}

.card p {
    color: #000000;
}

.card p:nth-child(3) {
    font-weight: bold;
}
.card button{
    cursor: pointer;
}
/* plants-lover setcion start  */
.plants-lover {
    display: flex;
    gap: 3.75rem;
    position: relative;
}
.plants-lover-right{
    margin-top: 2rem;
}
.badge {
    max-width: 287px;
    position: absolute;
    top: -20%;
    right: 45%;
    animation: spin 1s ease-in 1s infinite forwards ;
}

.badge img {
    width: 100%;
}

/* latest deals section style  */
.deals-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7.5rem;
}

.deals-text h2 span {
    color: var(--orage1);
}

.deals-text p {
    max-width: 888px;
}

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    position: relative;
}

.collection-img-1,
.collection-img-2,
.collection-img-3 {
    position: relative;

}

.collection-img-1 img,
.collection-img-2 img,
.collection-img-3 img {
    border-radius: 1rem;
    filter: brightness(.6);
}

.collection-img-1 h4 a,
.collection-img-2 h4 a,
.collection-img-3 h4 a {
    color: white;
    font-weight: 400;
    text-decoration-skip-ink: none;
    text-underline-offset: .625rem;
}

.collection-img-3 {
    grid-row: -3 / -1;
    grid-column: 2 / 3;
}

.collection-1-text {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 15%;
    color: white;
    font-size: 1.25rem;
    text-align: center;
}

.collection-2-text {
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 15%;
    color: white;
    font-size: 1.25rem;
    text-align: center;
}

.collection-3-text {
    position: absolute;
    z-index: 1;
    bottom: 40%;
    left: 20%;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}


.collection-text h4 a {
    font-size: 1.75rem;
    color: white;
    font-weight: 400;

}

/* join section style start  */
.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 533px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7.5rem;
    position: relative;
}

.join img {
    position: absolute;
    z-index: -1;
}

.join h2 {
    color: white;
}

.join-input {
    max-height: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-input {
    margin-top: 1.4rem;
}

#email {
    padding-left: 1rem;
    height: 100%;
    width: 35rem;
}

.join-input button {
    max-height: 100%;
    margin: 0;
    font-weight: 400;
}

/* footer section style start  */
footer,
.footer-column-2 {
    display: flex;
    justify-content: space-between;
}

.footer-column-1 p {
    max-width: 360px;
}

.footer-column-2 {
    gap: 110px;
}
.footer-column-3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.socialmedia-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* media quary start  */
.indication{
    display: none;
}
@media (max-width:576px) {
    .indication{
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2rem;

    }

    .first-link,
    .plants-lover h2 br,
    .badge {
        display: none;
    }

    nav {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .link{
        padding-bottom: 0;
    }
    /* banner  */
    .banner {
        flex-direction: column-reverse;

    }

    .banner-left h1 {
        margin: 1.75rem 0;
        font-size: 24px;
        margin-bottom: 13px;
    }

    .banner-left {
        margin: 1.75rem 1rem;
    }

    img {
        max-width: 100%;
    }

    /* plants section  */
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 1rem;
        margin-right: 1rem;

        .primary-btn {
            padding: 1.2rem 1.6rem;
        }
    }

    .section-discription {
        padding: 0 0;
    }

    /* plants-lover section  */

    .plants-lover,
    footer,
    .footer-column-2 {
        flex-direction: column;
    }

    .plants-lover h2 {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }

    .plants-lover ul {
        padding-left: 2.5rem;
    }

    .plants-lover ul li {
        font-size: .875rem;

    }

    /* latest deal  */
    .deals-text {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 3.1rem;
        
    }
    .collection {
        grid-template-columns: repeat(1, 1fr);
        max-width: 367px;
        margin: 0 auto;
    }
    .collection-img-3 img{
        width: 100%;
       
    }
    .collection-img-3 {
    grid-row: span 1;
    grid-column: span 1;
}
.collection-3-text{
    font-size: 1.25rem;
}

    /* jont section  */
    .join {
        height: 276px;
    }

    .join img {
        height: 276px;
        object-fit: cover;
    }

    .join-input {
        max-height: 4.1rem;
    }

    .join h2 {
        font-size: 1.25rem;
    }

    #email {
        width: 13rem;
    }

    .primary-btn {
        padding: 1.2rem 2rem;
    }

    /* footer section  */
    footer {
        padding-left: 1.25rem;
    }

    .footer-column-1 p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .footer-column-2 {
        gap: 0px;
    }

    .footer-column-3 {
        justify-content: flex-start;
        margin-bottom: 3.1rem;
    }
    .socialmedia-logo{
        margin-top: 1rem;
    }
}